<div class="forms-container pt-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-lg-6">
    <h1 class="text-center mb-5">Book the car of your dream!</h1>
      <div id='car-booking-dates' data-unavailable="<%= @booking.car.unavailable_dates.to_json %>">
            <%= simple_form_for([@car, @booking]) do |f| %>
                <%= f.input :start_date, as: :string, type: :text %>
                <%= f.input :end_date, as: :string, type: :text %>
                <%= f.submit "Book Now", class: "btn btn-primary" %>
            <% end %>
      </div>
    </div>
  </div>
</div>
