
<div class="container-fluid">
  <h1>Booking details</h1>
    <p><%= @booking.car.model %></p>
    <p><%= @booking.start_date %></p>
    <p><%= @booking.end_date %></p>
    <span class="btn btn-warning">  <%= link_to "Delete Booking",
    booking_path(@booking),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></span>
     <span class="btn btn-success">  <%= link_to "Edit this Booking",
    edit_booking_path(@booking) %></span>
</div>
